<div class="content">
  <h1>Work</h1>
  <h2>2020-Now: Working part time as software developer for <a href="https://www.eppendorf.com/de-de/">Eppendorf Instrumente GmbH</a>.</h2>
  <h2>2019-2020: Through winter 2019/2020 I tutored over 100 students at the University of Hamburg about the basic principles of computer hardware. The lecture is called "Rechnerstrukturen und Betriebssysteme" and can be found on the <a href="https://tams.informatik.uni-hamburg.de/" target="_blank">TAMS</a> website.</h2>
  <h2>2019: During university I got the opportunity to work as a freelancer archiving terabytes of data for the <a href="https://www.funkemedien.de/en/" target="_blank">Funke Mediengruppe</a>.</h2>
  <h2>2018: After graduating from school I worked at <a href="https://www.securvita.de/" target="_blank">Securvita</a> health insurance for a few months. My work included overviewing and contacting customers who are insured in a family insurance.</h2>
</div>
