.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  padding: 5vw;
  font-size: 6vw;
  text-shadow: 0px 0px 0.25vw white;
}
h2 {
  font-size: 1vw;
  text-shadow:
    0px 0px 0.075vw white,
    0px 0px 1px #332532,
    0px 0px 1px #332532,
    0px 0px 1px #332532,
    0px 0px 1px #332532,
    0px 0px 1px #332532,
    0px 0px 1px #332532;
  padding: 1vw;
}
a:link {
  text-decoration: underline;
}

/*0px 0px 1vw #332532*/
