.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 6vw;
  text-shadow: 0px 0px 0.25vw white;
}
h2 {
  font-size: 1vw;
  text-shadow: 0px 0px 0.075vw white;
  width: 100%;
  text-align: center;
}
a:link {
  text-decoration: underline;
}
